.saved {
  background: #fff;
}

.saved__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 104px 56px;
}

.saved__subtitle {
  margin: 0 0 28px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 0.5);
}
.saved__title {
  max-width: 530px;
  margin: 0 0 30px;
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: rgba(26, 27, 34, 1);
}

.saved__keywords {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(26, 27, 34, 1);
  text-transform: capitalize;
}

.saved__keywords_keyword {
  font-weight: 700;
}

.saved__grid {
  background-color: rgba(245, 246, 247, 1);
  max-width: 1440px;
  margin: 0 auto;
  padding: 62px 104px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
