.header {
  width: 100%;
  background-image: url(../../vendor/images/dac0778e82f1206f112335e2ee4d938ba64f02d6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.header__container {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.header__title {
  font-family: "Roboto Slab", "Helvetica", "Arial", sans-serif;
  font-size: 60px;
  line-height: 64px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  max-width: 608px;
  margin: 80px auto 32px;
}

.header__caption {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 1);
  max-width: 608px;
  margin: 0 auto 88px;
}

@media screen and (max-width: 850px) {
  .header__container {
    max-width: 768px;
  }

  .header__title {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    margin: 38px 220px 16px 163px;
  }

  .header__caption {
    max-width: 452px;
    margin: 0 156px 48px 160px;
  }
}

@media screen and (max-width: 650px) {
  .header__container {
    max-width: 320px;
  }

  .header__title {
    max-width: 385px;
    margin: 30px 16px 16px 19px;
  }

  .header__caption {
    max-width: 288px;
    margin: 0 16px 122px;
  }
}
